/*  Layout*/

.tetris-layout{

    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:25px;

}
/*   Main Canvas */
.tetris-canvas{
    display:block;
    background:#181818;
    border:3px solid #00d4ff;
    border-radius:12px;
    box-shadow:0 0 20px rgba(0,212,255,.25);

}
/*  Next Piece*/
.next-piece-panel{
    width:150px;
    background:#181818;
    border:2px solid #00d4ff;
    border-radius:12px;
    padding:15px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,212,255,.2);
}

.next-piece-panel h3{
    color:white;
    margin-bottom:15px;
}

.next-canvas{
    background:#111;
    border-radius:10px;
    border:2px solid #333;
}
/*  Responsive */
@media(max-width:900px){
    .tetris-layout{
        flex-direction:column;
        align-items:center;
    }
}